{% extends 'base.html.twig' %}

{% block title %}Gerer ma franchise{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-4">Menu crée</h1>
        </div>
    </div>


{% endblock %}
