{% extends 'base.html.twig' %}
{% block title %}Créer son event{% endblock %}
{% block body %}
	<h1>Création d'un Event</h1>
	<div class="container mt-5">
		{{ include('event/_form.html.twig') }}
	</div>

{% endblock %}