{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block body %}
    
<div class="d-flex align-items-center align-self-center">
    <img class="w-100 cover" src="{{ asset('/images/food_truck_homepage2.jpg') }}" alt="">
    <h1 class="text-center w-100 text-white font-weight-bold position-absolute">{% trans %}Découvrez Driv'n Cook{% endtrans %}</h1>
</div>


{% endblock %}