{% extends 'base.html.twig' %}
{% block title %}{{'Les events'|trans}}
{% endblock %}
{% block body %}
	<div class="container mt-5">
		{% if events is defined and events is not empty %}
			{% for event in events %}{% endfor %}
		{% else %}
			<tr>Aucun event existant</tr>
		{% endif %}
	</div>
{% endblock %}