{% extends "base.html.twig" %}

{% block title %}{{ parent() }} -  {% trans %}Paiement réussi {% endtrans %} {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="display-1 h1 text-center">{% trans %}PAIEMENT VALIDÉ {% endtrans %}</h1>
        <hr class="my-1">
        <div class="col-md-4 mx-auto mt-5">
            <p class="lead">{% trans %}Merci de nous avoir fait confiance. {% endtrans %} </p>
            <p class="text-muted">{% trans %}Et surtout régalez-vous ! {% endtrans %} </p>

            {% if is_granted('ROLE_USER') %}
                <div class="d-flex row">
                    <a href="{{ path('user_order_vote') }}" class="btn btn-primary mr-2">
                        {% trans %}Rédiger un avis {% endtrans %}
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="{{ path('home') }}" class="btn btn-secondary ml-2">
                         {% trans %}Retour à l'accueil {% endtrans %}
                        <i class="fas fa-home"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
