{% extends "base.html.twig" %}

{% block title %} Payment réussis {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="display-1 h1 text-center">PAIEMENT VALIDÉ</h1>
        <p class="lead">Merci de nous avoir fait confiance.</p>
        <p class="text-muted">Et surtout régalez-vous !</p>
    </div>

{% endblock %}