{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - {% trans %}Modification mot de passe{% endtrans %}{% endblock %}
{% block body %}

    <div class="container-fluid m-0 p-0">
        <div class="col-md-6 mx-auto mt-5">

            <form method="post">

                <h1 class="mb-5">{% trans %}Changer de mot de passe{% endtrans %}</h1>

                <label for="inputPasswordOld" class="sr-only">{% trans %}Ancien mot de passe{% endtrans %}</label>
                <input type="password" name="passwordOld" id="inputPasswordOld" class="form-control mb-3"
                    placeholder="Ancien mot de passe" required>

                <label for="inputPasswordNew" class="sr-only">{% trans %}Nouveau mot de passe{% endtrans %}</label>
                <input type="password" name="passwordNew" id="inputPasswordNew" class="form-control mb-3"
                    placeholder="Nouveau mot de passe" required>

                <label for="inputPasswordNewConfirm" class="sr-only">{% trans %}Confirmer le nouveau mot de passe{% endtrans %}</label>
                <input type="password" name="passwordNewConfirm" id="inputPasswordNewConfirm" class="form-control mb-4"
                    placeholder="Confirmer le nouveau mot de passe" required>

                <div class="d-flex justify-content-start">
                    {% if is_granted('ROLE_USER') %}
                        <a class="btn btn-primary" href="{{path('user_profil')}}">{% trans %}Retour{% endtrans %}</a>
                    {% elseif is_granted('ROLE_FRANCHISE') %}
                        <a class="btn btn-primary" href="{{path('franchise_profil')}}">{% trans %}Retour{% endtrans %}</button>
                    {% endif %}
                    <button class="btn btn-primary mr-0 ml-auto" type="submit">{% trans %}Modifier le mot de passe{% endtrans %}</button>
                </div>

            </form>

        </div>
    </div>
{% endblock %}