{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gestion des events{% endblock %}

{% block body %}

	<div class="container mt-5">
		{{ include('event/_form.html.twig') }}
	</div>

{% endblock %}