{% extends 'base.html.twig' %}

{% block title %}Gestion des franchisés{% endblock %}

{% block body %}

    <div class="container mt-5">
        {{ include('franchise/_form.html.twig') }}
    </div>

{% endblock %}

