{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gestion des utilisateurs{% endblock %}

{% block body %}

    <div class="container mt-5">
        {{ include('user/_form.html.twig') }}
    </div>

{% endblock %}

