{% extends 'base.html.twig' %}

{% block title %}Editer un un produit en entrepôt{% endblock %}

{% block body %}

    <div class="container mt-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}