@import "~bootstrap/scss/bootstrap";
@import "colors";
@import "profile";
@import "pdf";

body {
    background-color: lightgray;
}

.bg-camel{
    background-color: #FEF4E7;
}

.bg-black{
    background-color: black;
}

.bg-white{
    background-color: #F2F2F2;
}

.cover{
    object-fit: cover;
    object-position: center center;
    // height: 670px !important;
    height: 95vh;
}


// Bouttons Menu Admin

.admin-icon {
    font-size: 80px;
    padding-bottom: 10px;
}

.div-admin-button {
    margin-left: 80px;
    margin-bottom: 50px;
}

.div-admin-button-1 {
    margin-bottom: 50px;
}

.admin-link {
    min-width: 300px;
    min-height: 180px;
}
