@import "~bootstrap/scss/bootstrap";
@import "colors";
@import "profile";
@import "pdf";

body {
    background-color: lightgray;
}

.bg-camel{
    background-color: #FEF4E7;
}

.bg-black{
    background-color: black;
}

.bg-white{
    background-color: whitesmoke;
}

.cover{
    object-fit: cover;
    object-position: center center;
    // height: 670px !important;
    height: 95vh;
}

