.body_pdf{
    height: 100%;
    width: 800px;
    position: relative;
    color: #222;
    font-family: "Helvetica Neue", Arial, Verdana, sens-serif;
    line-height: 1.4;
    background-color: white;
}

.h1_pdf{
    font-size: 3em;
    font-weight: bold;
    margin: 0 0 70px 0;
}

.address_label, .infos_label{
    color: #555;
    float: left;
    width: 105px;
    text-align: right;
}

.address_content, .infos_content{
    margin-left: 115px;
    border-left: 1px solid #CCCCCC;
    padding-left: 10px;
}

.address-from{
    position: absolute;
    top: 7px;
    right: 0;
    width: 50%;
}

.address-to{
    float: left;
    width: 50%;
}

.infos{
    float: right;
    width: 50%;
}

.infos_label, .infos_content{
    padding-top: 4px;
    padding-bottom: 4px;
}

.cb{
    clear: both;
}

.items{
    margin: 50px 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.items tbody tr:nth-child(odd) {
    background: #F6F6F6;
}

.items th{
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    border-top: none;
    padding: 10px;
    font-size: 0.9em;
}

.items td{
    border: 1px solid #DDDDDD;
    border-left: none;
    border-right: none;
    padding: 10px;
}

.total{
    background-color: transparent !important;
}

.total td{
    border: none !important;
}

.total_label{
    text-align: right;
    background-color: transparent;
}

.total-first td{
    padding-top: 28px;
}

.total-big td{
    padding-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.footer_pdf{
    border-top: 1px solid #CCCCCC;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 5px 0 5px;
    font-size: 0.8em;
}