{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}

    <div class="container">
        <h3>TODO</h3>
        <p>1 - Récapituler le prix total</p>
        <p>2 - Récapituler avec quel moyen de paiemnt</p>
        <p>3 - Payer</p>
        <p>4 - Rediriger vers pages de remmerciement</p>
        <strong>Avant d'aller plus loin, il faut établir les moyens de payement</strong>
    </div>

{% endblock %}
