{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}

    <div class="container">
        <h3>TODO</h3>
        <p>1 - Récapituler le prix total</p>
        <p>2 - Récapituler avec quel moyen de paiemnt</p>
            <ul>Possibilité de payer avec l'un de nos moyens enregistrés</ul>
            <ul>Payer avec une cb que l'on rentre sur le tas</ul>
            <ul>Tout ça, vérifier si c'est le franchisé ou client qui paye </ul>
        <p>3 - Payer</p>
        <p>4 - Rediriger vers pages de remmerciement</p>
        <strong>Avant d'aller plus loin, il faut établir les moyens de payement</strong>
    </div>

{% endblock %}
